/* Define brand colors */
:root {
  --brand-color-1: #df442f;
  --brand-color-2: #eaa037;
  --brand-color-3: #2d3134;
  --brand-color-4: #f2acaa;
  --brand-color-5: #4b52db;
}

/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

/* Use the imported font for all text on the page */
/* Set up the gradient background */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #ededed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Montserrat", sans-serif;
  color: #333;
  text-align: center;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.intro {
  margin-bottom: 20px;
}

.intro h1 {
  font-size: 2.5rem;
  color: var(--brand-color-1);
}

.intro p {
  font-size: 1.2rem;
  color: var(--brand-color-3);
}

.social {
  position: absolute;
  bottom: 20px;
  display: flex;
  width: 100vw;
  min-height: 128px;
  align-items: center;
  justify-content: center;
  background-color: var(--brand-color-1);
}

.soc-icon {
  font-size: 64px;
  padding-left: 32px;
  color: #111;
  transition: transform 0.3s ease-in-out;
}

.soc-icon:hover {
  transform: scale(1.2);
  color: #ededed;
}

.sk-cube-grid {
  width: 40px;
  height: 40px;
  margin: 100px auto;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #333;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
  animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}
