/* Define brand colors */
:root {
  --brand-color-1: #df442f;
  --brand-color-2: #eaa037;
  --brand-color-3: #2d3134;
  --brand-color-4: #f2acaa;
  --brand-color-5: #4b52db;
}

/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

/* Use the imported font for all text on the page */
/* Set up the gradient background */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #303030;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  text-align: center;
}

/* Style the title */
.title {
  font-size: 48px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 20px;
  margin-bottom: 64px;
  color: #3498db; /* Set initial color */
  animation: colorAnimation 3s linear infinite alternate; /* Define animation */
}

@keyframes colorAnimation {
  0% {
    color: #3498db; /* Initial color */
  }
  100% {
    color: #e74c3c; /* Final color */
  }
}

/* Style the container and boxes */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 900px;
  padding: 20px;
  position: relative;
}

.social {
  position: absolute;
  bottom: -128px;
  display: flex;
  width: 100vw;
  min-height: 128px;
  align-items: center;
  justify-content: center;
  background-color: #999;
}

.soc-icon {
  font-size: 64px;
  padding-left: 32px;
  color: #111;
  transition: transform 0.3s ease-in-out;
}

.soc-icon:hover {
  transform: scale(1.2);
  color: #df442f;
}
