/* Define brand colors */
:root {
  --brand-color-1: #df442f;
  --brand-color-2: #eaa037;
  --brand-color-3: #2d3134;
  --brand-color-4: #f2acaa;
  --brand-color-5: #4b52db;
}

/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

/* Use the imported font for all text on the page */
/* Set up the gradient background */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
